/*private static readonly NAME = "LoginOAuth";*/


#LoginOAuth-login{
    width: 20%;
    content:url(https://developers.google.com/accounts/images/sign-in-with-google.png);
    margin-left: 40%;
}

.panel-heading{

}